.weather-cont {
  width: 75%;
  margin: 0 auto;
  min-height: 500px;
  margin-top: 50px;
  position: relative;
  border-radius: 13px;
  padding: 2px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  vertical-align: top;
  color: #9782a9;
}
.nav-con {
  width: 100%;
  padding: 20px;
  background: white;
  opacity: 0.59;
}
.generic-logo {
  display: inline-block;
  width: 220px;
}

.generic-logo img {
  width: 100%;
}

.nav-links {
  float: right;
  padding-right: 50px;
}

.favorites-cards-cont {
  width: 75%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 500px;
  position: relative;
  margin-top: 50px;
  border-radius: 13px;
  padding: 2px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  vertical-align: top;
  color: #9782a9;
}

.favorites-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  position: relative;
  border: 1px solid #d6d6d6 !important;
  border-radius: 13px;
  color: black;
  padding: 15px;
  margin: 20px;
}

.five-day-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 250px;
  /* background-color: #ddd5e5; */
  border: 1px solid #d6d6d6 !important;
  border-radius: 13px;
  color: black;
  padding: 15px;
  margin-bottom: 20px;
}

body {
  background-image: linear-gradient(white, #9782a9);
  background: no-repeat center center fixed;
  height: 100vh !important;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
}

.top-cont-current-weather {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.opacity-cont {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: aliceblue;
  position: absolute;
  z-index: -1;
  border-radius: 15px;
}

.large-label {
  background: aliceblue;
  border-radius: 25px;
  display: flex;
  align-content: start;
  align-items: center;
  padding: 12px;
  color: white;
  margin-top: 20px;
  max-width: 500px;
}

@media only screen and (max-width: 700px) {
  .nav-links {
    text-align: center;
  }

  .nav-links > div {
    margin: 10px;
  }

  .nav-con {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-cont-current-weather {
    justify-content: center;
  }
}
