.weather-cont {
  width: 75%;
  margin: 0 auto;
  min-height: 500px;
  margin-top: 50px;
  background-color: #9782a9;
  border: 1px solid #d6d6d6 !important;
  border-radius: 13px;
  padding: 2px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  vertical-align: top;
  color: #e8e8e8;
}

.favorites-cards-cont {
  width: 75%;
  margin: 0 auto;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #9782a9;
  border: 1px solid #d6d6d6 !important;
  border-radius: 13px;
  padding: 2px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  color: #e8e8e8;
}

.favorites-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #ddd5e5;
  border: 1px solid #d6d6d6 !important;
  border-radius: 13px;
  color: #000000;
  padding: 15px;
  margin: 20px;
}

.five-day-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 250px;
  background-color: #ddd5e5;
  border: 1px solid #d6d6d6 !important;
  border-radius: 13px;
  color: #000000;
  padding: 15px;
  margin-bottom: 20px;
}

body {
  background-image: linear-gradient(white, #ddd5e5);
  height: 100vh;
}

.sidebar-con {
  width: 250px;
  background-color: #ececec;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  z-index: -1;
  height: 98vh;
}

.wrapping-circle-viewcontent {
  min-width: 200px;
  min-height: 40px;
  text-align: center;
  margin: 8px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d6d6d6;
  border-radius: 25px;
  display: inline-block;
  padding: 2px 15px 2px 15px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.managment-client-cards {
  display: flex;
  align-items: center;
  height: 95px;
  width: 190px;
  padding-left: 10px;
}

.managment-integration-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 72px;
  width: 150px;
}

.managment-integration-cards * img {
  height: 30px;
  width: 30px;
}

.managment-integration-cards-num {
  font-size: 24px;
  margin-left: 15px;
  font-weight: 100;
}

.integration-popup-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  font-weight: 600;
  top: 0px;
  background: white;
  z-index: 20;
  padding-bottom: 15px;
}

.small-line-sep {
  width: 40px;
  height: 6px;
  border-radius: 15px;
  margin: 8px auto;
  margin-bottom: 20px;
}

.align-filter-txt {
  vertical-align: 7px;
  font-size: 13px;
}

.integration-button-wrap {
  display: flex;
  justify-content: space-around;
  height: 62px;
  min-width: 65px;
  align-items: center;
  justify-content: center;
  background: #0d8eff 0% 0% no-repeat padding-box;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.filters-ul {
  margin-left: 36px;
}

.filters-ul li + li {
  margin: 12px 0;
  cursor: pointer;
  position: relative;
}

.current-filter-con {
  position: fixed;
  z-index: 10;
  top: 50%;
  transform: translate(0, -50%);
  left: 250px;
  width: 400px;
}

.user-info-card-location {
  position: absolute;
  top: 25px;
  left: 270px;
  width: 230px;
}

.wrapping-circle-con-selected {
  background-color: #0d8eff;
}

.wrapping-circle-con-selected-outline {
  color: #0d8eff;
  box-shadow: 0px 0px 0px 2px #0d8eff inset;
}

.wrapping-filter-opt {
  text-align: center;
  display: flex;
  width: 80px;
  flex-direction: column;
  align-items: center;
}

.view-content-formats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-selected-count {
  background-color: #0d8eff;
  border-radius: 50%;
  /* padding: 2px 8px 1.5px 8px; */
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  top: -1.5px;
  right: 30px;
}

.filters-selected-count > div {
  position: absolute;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
}

.align-cancel-card-btn {
  position: absolute;
  right: -15px;
  top: -15px;
}

.hot-card-img {
  width: 264px;
  height: 180px;
  padding: 10px;
}

.hot-card-img-main-1 {
  width: 260px;
  height: 180px;
  border: 1px lightgray solid;
  border-radius: 5px;
  overflow: hidden;
}

.hot-card-img-main-1 img,
.hot-card-img-main-2 img,
.hot-card-img-main-3 img,
.hot-card-img-gallery-3-top img,
.hot-card-img-gallery-3-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hot-card-img-main-2 {
  width: 122px;
  height: 180px;
  float: left;
  border: 1px lightgray solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.hot-card-img-gallery-2 {
  width: 136px;
  height: 180px;
  float: right;
  border: 1px lightgray solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.hot-card-img-gallery-2 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hot-card-img-main-3 {
  width: 168px;
  height: 180px;
  float: left;
  border: 1px lightgray solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.hot-card-img-gallery-3-top {
  width: 90px;
  height: 89px;
  float: right;
  border: 1px lightgray solid;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.hot-card-img-gallery-3-bottom {
  width: 90px;
  height: 89px;
  float: right;
  border: 1px lightgray solid;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.big-wrapping-circle-con {
  width: 280px;
  height: 40px;
  text-align: center;
  margin: 8px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d6d6d6;
  border-radius: 25px;
  display: inline-block;
  padding: 2px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.big-wrapping-circle-con-large {
  width: 450px;
  height: 40px;
  text-align: center;
  margin: 8px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d6d6d6;
  border-radius: 25px;
  display: inline-block;
  padding: 2px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.integration-popup {
  width: 350px;
  height: 450px;
  margin-bottom: 10px;
}

.inner-integration-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2px;
  margin-left: 30px;
  text-align: left;
  font-size: 17px;
}

.big-wrapping-circle-con-sm {
  width: unset;
  height: 24px;
  padding: 2px 18px 3px 18px;
}

.content-card-square {
  width: 250px;
  min-height: 70px;
  padding: 5px;
}

.max-width-content-title {
  max-width: 152px;
  display: inline-block;
  line-height: 18px;
}

.managment-client-cards-title {
  text-align: left;
  width: 100px;
}

.managment-content-card-square {
  display: flex;
  width: 325px;
  height: 110px;
  padding: 5px;
}

.managment-content-card-img-con {
  padding: 3px;
  cursor: pointer;
  height: 107px;
  width: 75px;
}

.managment-content-card-img-con > img {
  border-radius: 10px;
  height: 107px;
  width: 80px;
}

.managment-content-card-title {
  display: flex;
  align-items: center;
}

.managment-content-card-cont-right {
  width: 169px;
  margin-left: 10px;
}

.managment-content-card-format {
  margin-top: -30px;
  width: 40px;
  margin-left: -5px;
}

.content-card-img-con {
  width: 67px;
  height: 67px;
  border-radius: 5px;
  margin: 3px 7px 3px 3px;
  float: left;
}

.content-card-img-con > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.new-content-con {
  width: 700px;
  margin: auto 0;
}
.register-content-con {
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.existing-content-con {
  padding-left: 50px;
  padding-right: 50px;
}

.content-id-con {
  margin: 0 20px;
  text-align: left;
}

.exposure-rating-cont {
  padding: 7px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  text-align: left;
  color: #0d8eff;
  margin-top: -3px;
}

.exposure-rating-stars-cont {
  display: flex;
  width: 200px;
  /* margin-top: -3px; */
  /* position: relative; */
  justify-content: space-around;
}

.exposure-rating-keys {
  left: 300px;
  font-size: 17px;
}

.exposure-number-in-star {
  position: absolute;
  top: 7px;
  left: 9.25px;
  font-size: 11px;
  color: grey;
}

.horo-scroll {
  display: flex;
  align-items: flex-start;
  max-width: 670px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
  border-radius: 15px;
  height: fit-content;
  padding-bottom: 10px;
  border-bottom-right-radius: 15px;
}

.horo-scroll:hover {
  overflow-x: scroll;
}

/* width */
.horo-scroll::-webkit-scrollbar {
  border-radius: 5px;
  height: 8px;
}

/* Track */
.horo-scroll::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 5px;
  width: 80%;
}

/* Handle */
.horo-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
.horo-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.saved-opportunity-box {
  position: relative;
  min-height: 210px;
  background-color: #ffffff;
  min-width: 258px;
  border: solid #0d8eff 1px;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 0px;
  margin-left: 8px;
}

.keyboard-btn {
  color: #0d8eff;
  padding: 3px;
  cursor: pointer;
}

.add-opportunity-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
  width: 300px;
  border: solid #0d8eff 1px;
  border-radius: 15px;
  margin-left: 8px;
  padding: 10px;
  margin-bottom: 30px;
}

.add-opportunity-box-mock {
  height: 210px;
  width: 300px;
  opacity: 0.25;
  padding: 10px;
  background-color: white;
  position: absolute;
  border-radius: 15px;
}

.existing-con-container {
  width: 55%;
  margin: 0 auto;
}

.button-up-wrapper {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: #0d8eff;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.3) !important;
  cursor: pointer;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hide {
  display: none;
}

.custom-white-table {
  border-collapse: separate;
  border-spacing: 0 1rem;
  font-size: 14px;
}

.custom-white-table tr {
  background: #ffffff;
  text-align: left;
}

.exposure-table td {
  padding: 9px 20px;
}

.space-blocker {
  position: absolute;
  height: 30px;
  background: #f9f9f9;
  top: -30px;
  left: -1px;
  right: -1px;
}

.expanded-tr {
  animation: openAccordion 0.5s;
  position: relative;
  z-index: -1;
}

.expanded-tr td {
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 15px !important;
}

.second-rows-tr > td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  font-weight: 500;
  text-align: left;
}

.placment-img {
  height: 100px;
  width: 150px;
  margin-top: 2px;
  border-radius: 15px;
}

.title-row > th {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  font-weight: 500;
  text-align: left;
}

.placements-extra-section {
  background: #f9f9f9;
  min-height: 100px;
  position: relative;
  /* left: -1px; */
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.more-icon-popup > div {
  padding: 5px;
}

.opacity-integration-popup {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  background: #000000;
  height: 100%;
  z-index: 10;
}

.edit-placement-popup {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 15;
}

.edit-placements-cont-1 {
  margin-top: 40px;
  margin-left: 95px;
}

.trash-circle-con {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  border: #0c82ff 1.5px solid;
}

.center-trash-in-circle {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%, -50%);
}

.edit-placements-image-cont-1 {
  margin-top: 40px;
  margin-left: 45px;
}

.integration-top-placement-content {
  width: unset;
  min-height: 160px;
}

.text-area-integration {
  width: 90%;
  height: 100px;
  resize: none;
  overflow: auto;
  font-size: 16px;
  color: grey;
}

.icon-more-click-button {
  display: flex;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 75px;
}

.more-icon-popup {
  position: absolute;
  right: -128px;
  top: -27px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #d6d6d6 !important;
  border-radius: 20px;
  min-width: 100px;
  display: inline-block;
  padding: 15px 10px 15px 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.close-more-icon-popup {
  position: absolute;
  top: 2px;
  right: 2px;
  margin: 0 !important;
}

.close-more-icon-popup svg {
  font-size: 19px;
  color: gray;
  padding: 4px;
}

.placement_description_cards {
  text-align: center;
  background: #e8e8e8 0% 0% no-repeat padding-box;
  border: 1px solid #d6d6d6 !important;
  margin-bottom: 10px;
  border-radius: 13px;
  width: 250px;
  display: inline-block;
  padding: 15px 10px 15px 10px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  vertical-align: top;
}

.small-save-icon {
  position: absolute;
  top: 34px;
  left: 50%;
  width: 49px;
  transform: translateX(-50%);
  cursor: pointer;
}

.small-save-icon svg {
  font-size: 21px;
}
.nav-con {
  width: 100%;
  padding: 20px;
}

.generic-logo {
  display: inline-block;
  width: 220px;
}

.generic-logo img {
  width: 100%;
}

.nav-links {
  float: right;
  padding-right: 50px;
}

.placement-delivery-image {
  width: 160px;
  border-radius: 10px;
}

.exposure-rating-numbers-placements {
  color: #00bd70;
  font-size: 25px;
  font-weight: 100;
  margin-left: 10px;
}

.integrations-con-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 20px;
}

/*Set border-radius on the top-left and bottom-left of the first table data on the table row */
td:first-child,
th:first-child {
  border-radius: 15px 0 0 15px;
}

/*  Set border-radius on the top-right and bottom-right of the last table data on the table row */
td:last-child,
th:last-child {
  border-radius: 0 15px 15px 0;
}

.small-grey-circle {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  align-self: center;
  background-color: #ece8e8;
}

.big-grey-circle {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 50px;
  align-self: center;
  background-color: #ece8e8;
}

.phase-map-circles-integration {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #c2c2c2;
  border: 1px solid #c2c2c2;
  position: relative;
  top: -11px;
}

.phase-map-circles {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid black;
  position: relative;
  top: -11px;
}

.phase-map-circles-blue {
  width: 23px;
  height: 23px;
  color: #0d8eff;
  border-radius: 50%;
  background-color: #0d8eff;
  position: relative;
  top: -11px;
}

.phase-map-circles-green {
  width: 23px;
  height: 23px;
  color: #0d8eff;
  border-radius: 50%;
  background-color: #00bd70;
  position: relative;
  top: -11px;
}

.upload-thumbnail-cont {
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 25px;
  display: flex;
  width: 95px;
  flex-direction: column;
  align-items: center;
}

.img-sm-cont {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.upload-imgs-cont {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.phase-map-labels {
  display: flex;
  font-size: 12px;
  margin-top: 30px;
  justify-content: center;
}

#tick-mark {
  position: relative;
  top: 5px;
  right: 0px;
  width: 10px;
  height: 10px;
}

#tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 2px;
  background-color: #ffffff;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

#tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark-black {
  position: relative;
  top: 1px;
  right: 0px;
  width: 15px;
  height: 15px;
}

.tick-mark-black::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 2px;
  background-color: black;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark-black::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark-blue,
.tick-mark-green {
  position: relative;
  top: 1px;
  right: 0px;
  width: 20px;
  height: 20px;
}

.tick-mark-blue::before,
.tick-mark-green::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: #0d8eff;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
  animation: moveBackgroundBlue 1.5s;
}

.tick-mark-green::before {
  background-color: #00bd70;
  animation: moveBackgroundGreen 1.5s;
}

.tick-mark-blue::after,
.tick-mark-green::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #0d8eff;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
  animation: moveBackgroundBlue 1.5s;
}

.tick-mark-green::after {
  background-color: #00bd70;
  animation: moveBackgroundGreen 1.5s;
}

.animate-text-change-blue {
  color: #0d8eff;
  font-weight: bold;
  animation: moveTextBlue 1.5s;
}

.animate-text-change-green {
  color: #00bd70;
  font-weight: bold;
  animation: moveTextGreen 1.5s;
}

@keyframes moveTextBlue {
  from {
    color: white;
  }
  to {
    color: #0d8eff;
  }
}
@keyframes moveTextGreen {
  from {
    color: white;
  }
  to {
    color: #00bd70;
  }
}
@keyframes moveBackgroundBlue {
  from {
    background-color: white;
  }
  to {
    background-color: #0d8eff;
  }
}
@keyframes moveBackgroundGreen {
  from {
    background-color: white;
  }
  to {
    background-color: #00bd70;
  }
}
.grey-wrapping-circle {
  width: 100px;
  margin: auto 0;
  padding: 5px;
  height: 40px;
  border-radius: 30px;
  align-self: center;
  background-color: lightgray;
}

.as-c {
  align-self: center;
}

@keyframes openAccordion {
  0% {
    transform: translateY(-70px);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
